<a href="https://colab.research.google.com/github/AbuBakkarSabitth/DataScienceProject/blob/main/PythonBasicsForDataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### List

In [ ]:
carlist = ["Audi","BMW","Tesla","Tata"]
print(carlist)

['Audi', 'BMW', 'Tesla', 'Tata']

In [ ]:
print(carlist)

['Audi', 'BMW', 'Tesla', 'Tata']

In [ ]:
print(type(carlist))

<class 'list'>

In [ ]:
carlist[0]

'Audi'

In [ ]:
carlist[2]

'Tesla'

In [ ]:
carlist[len(carlist)-1]

'Tata'

### List Items

In [ ]:
carlist[1:4]

['BMW', 'Tesla', 'Tata']

In [ ]:
carlist[:2]

['Audi', 'BMW']

In [ ]:
carlist[-3:-1]

['BMW', 'Tesla']

In [ ]:
carlist[-3:]

['BMW', 'Tesla', 'Tata']

In [ ]:
carlist[2:3]=["Toyata","Honda"]
print(carlist)

['Audi', 'BMW', 'Toyata', 'Honda', 'Tata']

In [ ]:
carlist.append("Toyata")
print(carlist)

['Audi', 'BMW', 'Toyata', 'Honda', 'Tata', 'Toyata']

### Add and Remove List items

In [ ]:
carlist = ["Audi","BMW","Tesla","Tata"]
carlist.append("Honda")
print(carlist)

['Audi', 'BMW', 'Tesla', 'Tata', 'Honda']

In [ ]:
carlist.insert(0,"Sabith")
print(carlist)

['Sabith', 'Sabith', 'Audi', 'BMW', 'Tesla', 'Tata', 'Honda']

In [ ]:
carlist1 = ["sab","saT","Audi"]
carlist2 = ["Lamborgire","Staih"]
carlist1.extend(carlist2)
print(carlist1)

['sab', 'saT', 'Audi', 'Lamborgire', 'Staih']

In [ ]:
new_list = carlist1.copy()
print(new_list)

['sab', 'saT', 'Audi', 'Lamborgire', 'Staih']

### Sort List

In [ ]:
number = [10,20,25,2,4,7,9,90]
number.sort()
print(number)

[2, 4, 7, 9, 10, 20, 25, 90]

In [ ]:
number.sort(reverse=True)
print(number)

[90, 25, 20, 10, 9, 7, 4, 2]

### Join Lists

In [ ]:
carlist1 = ["Sab","tas","sat"]
carlist2 = ["tas","ew"]
new_carlist = carlist1 + carlist2
print(new_carlist)

['Sab', 'tas', 'sat', 'tas', 'ew']

In [ ]:
new_carlist = carlist1.copy()
for item in carlist2:
  new_carlist.append(item)

print(new_carlist)

['Sab', 'tas', 'sat', 'tas', 'ew']

### Tuple

In [ ]:
carlist = ('Sabit','Stw','Tstt')
print(carlist)

('Sabit', 'Stw', 'Tstt')

In [ ]:
type(carlist)

tuple

Tuple items are ordered,unchangable, and allow duplicate values.
Tuple items are indexed,the first item has index[0],the second item has index[1] etc

In [ ]:
carlist=('sa','dsf','erew')
print(carlist)

('sa', 'dsf', 'erew')

In [ ]:
carlist[0]

'sa'

In [ ]:
carlist[0] = "sabn"

TypeError: 'tuple' object does not support item assignment

## you may check the tuple as you check the list

In [ ]:
carlist = ('Audi','Tata','Toyota','BMW')
print(len(carlist))

4

In [ ]:
carlist[2:5]

('Toyota', 'BMW')

In [ ]:
carlist[3:]

('BMW',)

In [ ]:
carlist[-1]

'BMW'

Add and Remove List items

In [ ]:
carlist = ('Audi','tu')
carlist = list(carlist)
carlist.append("honda")
carlist = tuple(carlist)
print(carlist)

('Audi', 'tu', 'honda')

In [ ]:
carlist=('BMW','ere')
carlist = list(carlist)
carlist.remove('BMW')
carlist = tuple(carlist)
print(carlist)

('ere',)

### **Set**
Set items are unordered,unchangable,and do not allow duplicate values

In [ ]:
carset = {'Audi','tata','Toyata','Hundai','BMW','Tesla'}
print(carlist)

{'Toyata', 'BMW', 'Audi', 'Tesla', 'Hundai', 'tata'}

In [ ]:
type(carset)

set

In [ ]:
carset = {'Audi','tata','Toyata','Hundai','BMW','Tesla','Audi',1,23,3}
print(carset) ## Automatically  remove duplicate values

{1, 3, 'BMW', 'Audi', 'Toyata', 23, 'Tesla', 'Hundai', 'tata'}

### Access Set items

In [ ]:
carset = {'Audi','Tata','Toyota','Hundai'}
for item in carset:
  print(item)

Hundai
Tata
Audi
Toyota

In [ ]:
"tata" in carset

False

### Add set items

In [ ]:
carset = {'Sih','Sfe','abih'}
carset.add("honda")
print(carset)

{'abih', 'Sih', 'Sfe', 'honda'}

In [ ]:
carset1={'Audi','Tata','toyata'}
carset2 = {'honda','Maruti','Kia'}
carset1.update(carset2)
print(carset1)

{'Kia', 'Audi', 'Maruti', 'Tata', 'honda', 'toyata'}

### Dictionary
Dictionary is ordered and changable

In [ ]:
cardict = {
    "brand": "Ford",
    "model": "Mustang",
    "year" : 1964
}
print(cardict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
type(cardict)

dict

In [ ]:
cardict["brand"]

'Ford'

In [ ]:
cardict["model"]

'Mustang'

In [ ]:
cardict["model"] = "HF"
print(cardict)

{'brand': 'Ford', 'model': 'HF', 'year': 1964}

In [ ]:
len(cardict)

3

In [ ]:
cardict.get("brand")

'Ford'

In [ ]:
cardict.keys()

dict_keys(['brand', 'model', 'year'])

In [ ]:
cardict.values()

dict_values(['Ford', 'HF', 1964])

In [ ]:
cardict.items()

dict_items([('brand', 'Ford'), ('model', 'HF'), ('year', 1964)])

c

In [ ]:
cardict = {
    "Brand" : "Ford",
    "Model" : "Mustang",
    "Year"  : 1964,
    "PatrolEngine": True
}

In [ ]:
cardict["Model"] = "GT"

In [ ]:
print(cardict)

{'Brand': 'Ford', 'Model': 'GT', 'Year': 1964, 'PatrolEngine': True}

In [ ]:
cardict = {
    "Brand" :"Ford",
    "Model" :" mounty",
    "Year" : 1964,
    "PatrolEngine":True
}
cardict["Model"]="GT"

In [ ]:
cardict["IsOkay"] =1
print(cardict)

{'Brand': 'Ford', 'Model': 'GT', 'Year': 1964, 'PatrolEngine': True, 'IsOkay': 1}

In [ ]:
cardict.pop("Model")

'GT'

In [ ]:
del cardict["Year"]

In [ ]:
print(cardict)

{'Brand': 'Ford', 'PatrolEngine': True, 'IsOkay': 1}

### Nested Dictionaries

In [ ]:
student = {
    "Height" : [175,178, 182],
    "Weight" : [78,82,65]
}

In [ ]:
student["Height"]

[175, 178, 182]

In [ ]:
type(student["Height"])

list

In [ ]:
student["Weight"][2]

65

In [ ]:
student = {
    "Asif":{"age":2,"City":"Chittagong","Class":23},
    "Dipon": {"age":23,"City":"Chittagong","Class":231},
    "Alvey": {"Age":23,"City":"Dhaka","Class":232}
}
print(student)

{'Asif': {'age': 2, 'City': 'Chittagong', 'Class': 23}, 'Dipon': {'age': 23, 'City': 'Chittagong', 'Class': 231}, 'Alvey': {'Age': 23, 'City': 'Chittagong', 'Class': 232}}

In [ ]:
student["Asif"]["age"]

2

In [ ]:
student["Dipon"]["Class"]

231

### Nested List

In [ ]:
student = [
    [1,2,3,4],
    [2,3],
    [23,123,232,234,[12,21,3,2]]
]
type(student)

list

In [ ]:
print(student)

[[1, 2, 3, 4], [2, 3], [23, 123, 232, 234, [12, 21, 3, 2]]]

In [ ]:
student[2][-1][2]

3

### List Comprehension

In [ ]:
number = 40
if number >= 40:
  print("pass")
else:
  print("fail")

pass

In [ ]:
number=33
print("Pass") if number >=40 else print("Fail")

Fail

In [ ]:
 number =20
 print("Even") if number%2==0 else print("Odd")

Even

In [ ]:
for i in range(1,11):
  if i%2 == 0:
    print(i,"even")
  else:
    print(i,"Odd")

1 Odd
2 even
3 Odd
4 even
5 Odd
6 even
7 Odd
8 even
9 Odd
10 even

In [ ]:
odd=[]
even=[]
for i in range(1,11):
  if i%2 == 0:
    even.append(i)
  else:
    odd.append(i)

print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [ ]:
odd = []
even = []
[even.append(i) if i%2 == 0 else odd.append(i) for i in range(1,11)]
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

### Function
A function is a block of code that performs a specific task

In [ ]:
x1= 10
y1= 3
x2 = 14
y2 = 7
distance = ((x2-x1)**2 + (y2-y1)**2)**0.5
print(distance)

5.656854249492381

In [ ]:
def distance_func(x_1,y_1,x_2,y_2):
  distance = ((x_2-x_1)**2 + (y_2-y_1)**2)**0.5
  return distance

In [ ]:
x1= 24
y1= 15
x2=4
y2=14
distance=distance_func(x1,y1,x2,y2)
print(distance)

20.024984394500787

### Two things to remember,parameter and Arguments
Parameter are the variables listed inside the parenthesis in the function definition.They act like placeholders for the data the function can accept when we call them.Arguments are the actual values that we pass to the function when we call it

In [ ]:
def print_my_name(firstname,lastname):
  print(f"My first name is {firstname} and my last name is {lastname}")

In [ ]:
print_my_name("Abu Bakkar","sabith")

My first name is Abu Bakkar and my last name is sabith

In [ ]:
def print_my_name_2(Age, *name):
  print(f"My first name is {name[0]} and last name is {name[1]} and my age is {Age}")
  print(name)

In [ ]:
Age =23

In [ ]:
print_my_name_2(Age,"Sabith","kahan","joi")

My first name is Sabith and last name is kahan and my age is 23
('Sabith', 'kahan', 'joi')

In [ ]:
def print_my_name_2(Age, *name):
    print(f"My first name is {name[0]} and last name is {name[1]} and my age is {Age}")
    print(name)

print_my_name_2(21,"Sabith","Kahan" "Joi")

My first name is Sabith and last name is KahanJoi and my age is 21
('Sabith', 'KahanJoi')

### Default Parameter
def_my_function(country="Norway"):print("I am from"+ country)
my_function("Sweden")my_function("India")my_function()my_function("Brazil")

In [ ]:
def print_my_city(city):
  print(f"My city is {city}")

In [ ]:
def print_my_city(firstname,lastname,city="Dhaka"):
  print(f"My first name is {firstname} and my last name is {lastname} and my city is {city}")

In [ ]:
print_my_city("Sabith","Hossain")

My first name is Sabith and my last name is Hossain and my city is Dhaka

In [ ]:
print_my_city("Sabith","Hossain","Chittagong")

My first name is Sabith and my last name is Hossain and my city is Chittagong

### Recursion

### Python Lambda

In [ ]:
def add(a,b):
  return a+b

In [ ]:
add(10,23)

33

In [ ]:
add2 = lambda a,b: a+b

In [ ]:
add2(10,14)

24

In [ ]:
def odd_or_even(number):
  if number%2 == 0:
    return "Even"
  else:
    return "Odd"

In [ ]:
odd_or_even(2)

'Even'

In [ ]:
odd_or_even_2 = lambda number: print("Even") if number % 2==0 else print("Odd")

In [ ]:
odd_or_even_2(21)

Odd

In [ ]:
odd_or_even_2(4)

Even

In [ ]:
def odd_or_even(number):
  for i in range(1,number):
    if i%2 == 0:
      print(i,"Even")
    else:
      print(i,"odd")

In [ ]:
odd_or_even(10)

1 odd
2 Even
3 odd
4 Even
5 odd
6 Even
7 odd
8 Even
9 odd

In [ ]:
odd_or_even_2 = lambda number: [print(i,"Even") if i%2 ==0 else print(i,"Odd") for i in range(1,number)]

In [ ]:
odd_or_even_3= list(map(lambda i: print(i, "Even") if i % 2 == 0 else print(i, "Odd"), range(1, 15)))

1 Odd
2 Even
3 Odd
4 Even
5 Odd
6 Even
7 Odd
8 Even
9 Odd
10 Even
11 Odd
12 Even
13 Odd
14 Even

In [ ]:
print(odd_or_even_3)

[None, None, None, None, None, None, None, None, None, None, None, None, None, None]

### Python Variable Scope

In [ ]:
number = 40
for i in range(1,3):
  print(number)

40
40

In [ ]:
number = 40
for i in range(1,3):
  number2 = 10
  print(number)
print(number2)

40
40
10

In [ ]:
def add(a,b):
  temp = 20
  print(number_3)
  number = a+b
  return number

In [ ]:
number_3  = 60
add(10,20)

### If you want to access any variable from function

In [ ]:
def add(a,b):
  global temp
  temp =20




  number = a + b
  return number

In [ ]:
number3 = 20
number_4 = add(10,20)
print(number_4)
print(temp)

30
20

### Python Classes/Objects
Classes:
Definition: A class in python is a blueprint for creating objects.It defines a datatype by encapsuling the attributes(variable) and behaviours(methods) that the objects created from the class can perform
Components:A class typically includes:\
Attributes: Variables that store data specific to the class
Methods:Functions that defines behaviour of the class
### Objects:
Definition:An object is an instance of a class.When a class is defined,no memory is allocated until  an object of that class is created
Creation:Objects are created by calling the class itself as if it were a function.This triggers the class's init method,which initializes

### init()
##Purpose:The init() method is the constructor in Python.It's automatically invoked when a new object of a class is created.
## Self Parameter: The first parameter of the init() method is self,which is reference to the current instance of the class.It allows access to the attributes and methods of the class in Python,
## Initialization: The init() method is used to initialize the attributes of an object.This method can take additional arguments to set the initial state of a new object

In [ ]:
class animal:
  def __init__(self,p_legs,p_mammal,p_bark,p_is_pet,p_fur,p_aggresive):
    self.legs = p_legs
    self.mammal = p_mammal
    self.bark = p_bark
    self.is_pet = p_is_pet
    self.fur=p_fur
    self.i_aggresive=p_aggresive
  def aggresive(self):
    print(self.i_aggresive)
  def barks(self,new_bark):

    print(self.bark)
    print(new_bark)
  def pet(self):
    if self.is_pet == True:
      print("The animal is suitable for petting")
    else:
      print("The animal is not suitable for petting")

In [ ]:
cat = animal(4,True,"Mew Mew",True,True,False)

In [ ]:
cow = animal(4,True,"Hamba Hamba",False,True,False)
eagle = animal(2,False,"----",False,True,True)

In [ ]:
cat.legs

4

In [ ]:
cat.aggresive()

False

In [ ]:
cat.barks("Maw Maw")

Mew Mew
Maw Maw

In [ ]:
cat.pet()

The animal is suitable for petting

### Python RegEx

### Try..Except

In [ ]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
try:
  add = num1 + num2
  division = num1/num2
  print(add)
  print(division)
except:
  print("Zero Division Error")
print("hello World")

Enter first number: 2
Enter second number: 0
Zero Division Error
hello World

In [1]:
 num1 = int(input("Enter first number: "))
 num2 = int(input("Enter second number: "))
 carlist  = ["BMW","Tata","Tesla"]
 add = num1 + num2
 try:
  division_1 = num1/num2
  print(division1)
  print(carlist[0])
except ZeroDivisionError:
  print("Zero Division Error")
except IndexError:
  print("Index Error")
print(add)
print("Hello World")

Enter first number: 10
Enter second number: 0
Zero Division Error
10
Hello World

In [4]:
num1 = int(input("enter first number: "))
num2 = int(input("enter second number: "))
carlist = ["BMW","Tata","Tesla"]
add = num1+ num2
try:
  division_1 = num1/num2
  print(division_1)
except ZeroDivisionError:
  print("Zero Division Error")

try:
  print(carlist[4])
except IndexError:
  print("Index Error")

print("Hello World")

enter first number: 1
enter second number: 2
0.5
Index Error
3
Hello World

In [ ]:
num1 = int(input("enter first number: "))
num2 = int(input("enter second number: "))
carlist = ["BMW","Tata","Tesla"]
add = num1+ num2
try:
  division_1 = num1/num2
  print(division_1)
except ZeroDivisionError:
  print("Zero Division Error")

try:
  print(carlist[4])
except IndexError:
  print("Index Error")
else:
  print("No Error")
finally:
  print("End of the Try-except")

print("Hello World")

In [8]:
num1 = int(input("Enter first numbner: "))
num2 = int(input("Enter second number: "))
add = num1+num2
print(add)
try:
  division_1 = num1/num2
  print(division_1)
except:
  print("Zero Division Error")
  print("you can't divide a number again")
  num2 = int(input("Give me the second number again:  "))
  division_2 = num1/num2
  print(division_2)
print("hello world")

Enter first numbner: 1
Enter second number: 0
1
Zero Division Error
you can't divide a number again
Give me the second number again:  2
0.5
hello world